




<div id="student-table" *ngIf="students.length > 0; else loading">
  <!-- Search Input -->
  <div id="search-container">
    <input
      type="text"
      placeholder=" Search By ID"
      [(ngModel)]="searchTerm"
      (input)="searchStudents()"
      class="search-input"
    />
  </div>

  <!-- Students Table -->
  <table class="students-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Section</th>
        <th>Attendance</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let student of filteredStudents">
        <td>{{ student.id }}</td>
        <td>
          <div *ngIf="editMode[student.id]; else displayName">
            <input [(ngModel)]="student.name" class="edit-input" />
          </div>
          <ng-template #displayName>{{ student.name }}</ng-template>
        </td>
        <td>
          <div *ngIf="editMode[student.id]; else displaySection">
            <input [(ngModel)]="student.sec" class="edit-input" />
          </div>
          <ng-template #displaySection>{{ student.sec }}</ng-template>
        </td>
        <td>
          <div *ngIf="editMode[student.id]; else displayAttendance">
            <input
              type="number"
              [(ngModel)]="student.Attendnt"
              (ngModelChange)="student.Attendnt = $event ? +$event : 0"
              class="edit-input"
            />
          </div>
          <ng-template #displayAttendance>{{ student.Attendnt }}</ng-template>
        </td>
        <td>
          <div *ngIf="editMode[student.id]; else editButton">
            <button class="save-button" (click)="saveStudent(student)">Save</button>
          </div>
          <ng-template #editButton>
            <button class="edit-button" (click)="editStudent(student.id)">Edit</button>
          </ng-template>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Loading Template -->
<ng-template #loading>
  <p class="loading">Loading student data...</p>
</ng-template>
