/* You can add global styles to this file, and also import other style files */


*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}



body {
  // font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(135deg, #1a2980 0%, #26d0ce 100%); // تدرج أزرق وأخضر مريح
  // height: 100vh;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // color: #ffffff;
  // margin: 0;
}
